    <div class="row">
        <div id="glnav" class="glnavCover glnavTop col-md-12">
            <ul class="clearfix">
                <li id="home">
                    <a class="current" href="./#/top/watson">
                        <img alt="HOME" src="../images/glmenu_home_blue.jpg">
                    </a>
                </li>
                <li id="netShop">
                    <a href="./#/top/watson">
                        xxx
                    </a>
                </li>
            </ul>
        </div>
    </div>

<div ui-view></div>
